version: '3.8'
services:
  ollama:
    hostname: ollama
    container_name: ollama
    image: ollama/ollama
    ports:
      - "11434:11434"
  pgvector:
    hostname: pgvector
    container_name: pgvector
    image: pgvector/pgvector:pg16
    environment:
      - 'POSTGRES_DB=chat-ai-db'
      - 'POSTGRES_PASSWORD=chat-ai-user'
      - 'POSTGRES_USER=chat-ai-user'
    ports:
      - '5431:5432'
  pgadmin:
    container_name: dpage
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - pgvector
